<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
                <li class="nav-item d-flex col-md-2">
                    <a class="nav-link " href="#">Foto</a>
                </li>
                <li class="nav-item d-flex col-md-2">
                    <a class="nav-link " href="#">Nome</a>
                </li>
                <li class="nav-item d-flex col-md-2">
                    <a class="nav-link " href="#">Preço</a>
                </li>
                <li class="nav-item d-flex col-md-2">
                    <a class="nav-link " href="#">Qnt</a>
                </li>
                <li class="nav-item d-flex col-md-2">
                    <a class="nav-link " href="#">Vnd</a>
                </li>
                <li class="nav-item d-flex col-md-2">
                    <a class="nav-link " href="#">Página</a>
                </li>
        </ul>
    </div>
    <div class="card-body" *ngFor="let i of [1,2,3]">
        <app-produto-dashboard-card></app-produto-dashboard-card>
    </div>
</div>