#bottom {
    margin-top: 2%;                     
    left:50%;                        
} 
#top {                
    margin-top: 2%;       
}
#end{
    margin-top: 5%;                     
    left:50%; 
}