<div class="container">
    <div class="row justify-content-center" id="top">
        <h1>
            Adega Mandelao
        </h1>
    </div>
    <div class="row justify-content-center" id = "bottom">
        <img src="assets/images/placeholder.png" style="width: 500px">
    </div>
    <div class="row justify-content-center">
        <a routerLink="/produtos" id = "bottom">
            <button type="button" class="btn btn-primary">Clique Aqui para começar!</button>
        </a>
    </div>
    <div class="row justify-content-center" id = "end">
        <a routerLink="/telaLogin">
            <button type="button" class="btn btn-outline-primary">Administração</button>
        </a>
    </div>
</div>
