<div class="container">
  <div class="row mt-1">
    <a class="btn btn-primary" routerLink="/produtos">Retornar</a>
  </div>
    <form [formGroup]="formProduto" (ngSubmit)="handleNewProduto()" >
      <div class="row align-items-center my-5">
        <div class="col-lg-7">
          <div class="row">
            <img class="img-fluid rounded mb-4 mb-lg-0"  alt="">
          </div>
          <div class="row mt-3">
            <div class="row custom-file">
              <input formControlName="foto" type="file" class="custom-file-input" required id="customFile" (change)="onFileSelected($event)">
              <label class="custom-file-label" for="customFile">Escolha a foto</label>
            </div>
            <div class="row mt-3">
              <select formControlName="categoria" class="form-control form-control-sm" name="categoria" required>
                <option>Selecione a Categoria</option>
                <option value="1">outro</option>
                <option value="2">cerveja</option>
                <option value="3">chopp</option>
                <option value="4">vodka</option>
                <option value="5">tequila</option>
                <option value="6">gim</option>
                <option value="7">whisky</option>
                <option value="8">vinho</option>
                <option value="9">cachaça</option>
                <option value="10">rum</option>
                <option value="11">champanhe</option>
                <option value="12">licor</option>
              </select>
            </div>
          </div>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
          <div>
            <h1>Nome do Produto: <input formControlName="nome" required type="text" name="nome" class="form-control"> </h1>
          </div>
          <div>
            <h3>Preço: <input formControlName="preco" required type="number" name="preco" class="form-control"></h3>
          </div>
          <div>
            <h5>Quantidade no estoque: <input formControlName="quantidade" required type="number" name="quantidade" class="form-control"> </h5>
          </div>
          <button type="button" class="btn btn-primary" (click)="handleNewProduto()" >Adicionar Produto</button>
          <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Descrição</label>
              <textarea formControlName="descricao" class="form-control" id="exampleFormControlTextarea1" rows="3" name="descricao" type="text"></textarea>
            </div>
          </div>

        </div>
        <!-- /.col-md-4 -->
      </div>
    </form>
    <!-- /.row -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Adega Mandelão 2020</p>
        </div>
    </footer>
</div>
   <!-- /.container -->
