<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto front weight-normal">
   <app-header></app-header>
   </h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark alert-danger" *ngIf="loggedIn()" (click)="doLogout()" href="#">Logout</a>
      <a class="p-2 text-dark" *ngIf="loggedIn()" href="/dashboard">Dashboard</a>
      <a class="p-2 text-dark" href="#">Cervejas</a>
      <a class="p-2 text-dark" href="#">Vodka</a>
      <a class="p-2 text-dark" href="#">Tequilas</a>
      <a class="p-2 text-dark" href="#">Outros</a>
    </nav>
  </div>