<div class="container" id="top">
  <div class="row justify-content-left">
    <a routerLink="/dashboard">
      <button type="button" class="btn btn-outline-primary"> Retornar</button>
    </a>
  </div>
  <div class="row justify-content-center">
    <img src="assets/images/placeholder.png" style="width: 400px">
  </div>
  <div class="row justify-content-center" id="bottom">
    <h3>
      Cadastrar Administrador
    </h3>
  </div>
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <form class="justify-content-center" [formGroup]="signupForm" (ngSubmit)="onSubmit(signupForm)">
        <div class="form-group">
          <label for="exampleInputEmail1">Nome</label>
          <input type="text" class="form-control" id="exampleInputName1" aria-describedby="emailHelp"
            placeholder="Ednaldo Pereira" formControlName="nome">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="ednaldopereira@email.com" formControlName="email">
        </div>
        <div formGroupName="groupSenhas">
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="minhasenha123"
              formControlName="senha1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirme a Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="minhasenha123"
              formControlName="senha2">
          </div>
        </div>

      </form>
    </div>
    <div class="col-3">
      <div class="row justify-content-center" id="bottom">
        <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Cadastrar um novo usuário</button>
      </div>
    </div>
  </div>
</div>
